HF_TOKEN=your_hugging_face_token_here
MODEL_1_URL=https://router.huggingface.co/models/Ansh1419/xlm-roberta-codemix
MODEL_2_URL=https://router.huggingface.co/models/Ansh1419/xlm-fakenews
MODEL_3_URL=https://router.huggingface.co/models/Ansh1419/xlm-eno-sence-model

